@import url(fonts.css);

body {
    background: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: MR;
}

.container {
    max-width: 1326px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 10px;
}

.header-nav-list {
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header-nav-list__link {
    text-transform: capitalize;
    color: #323232;
}

.header-line {
    margin: 0 auto;
    padding-bottom: 40px;
}

.header-content {
    display: flex;
    flex-flow: column wrap;
    height: 618px;
    justify-content: space-between;
    gap: 24px;
}

.header-content-card {
    max-width: 526px;
    width: 100%;
    height: 294px;
    background: #E1E1E1;
    border-radius: 10px;
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    padding: 73px 0 47px;
    color: #323232;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.header-content-card:nth-child(3) {
    max-width: 746px;
    width: 100%;
    height: 618px;
}

.header-content-card::before {
    content: '50%';
    display: block;
    position: absolute;
    font-size: 22px;
    text-transform: capitalize;
    color: #FFFFFF;
    top: 16px;
    left: 22px;
    padding: 11px 38px;
    background: #323232;
    border-radius: 10px;
}

.header-content-card:nth-child(2)::before {
    content: '20%';
}

.card-content p:last-of-type {
    font-size: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 43px;
}

.header-content-card:nth-child(2) .card-content {
    padding-left: 12px;
}

.header-content-card:nth-child(3) .card-content {
    padding-left: 24px;
    gap: 30px;
}

h3 {
    font-family: MB;
    text-transform: uppercase;
    color: #000000;
}

.main-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0 20px;
}

.main-line {
    width: 100%;
    padding-bottom: 40px;
}

.card {
    width: 416px;
    padding: 72px 0 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    filter: drop-shadow(6px 6px 15px rgba(132, 132, 132, 0.3));
    background: #E1E1E1;
    border-radius: 10px;
    position: relative;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.btns a {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 10px;
}


.leader-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 40px;
    padding-bottom: 60px;
}

.card::before {
    content: 'NEW';
    display: block;
    position: absolute;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    top: 20px;
    left: 20px;
    padding: 13px 42px;
    background: #323232;
    border-radius: 10px;
}

.card:nth-child(2)::before {
    content: '15%';
}

.card:nth-child(3)::before {
    content: '30%';
}

.card:nth-child(4)::before {
    content: '10%';
}

.card:nth-child(5)::before {
    display: none;
}

.card:nth-child(6)::before {
    display: none;
}

.card:nth-child(7)::before {
    content: '50%';
}

.card:nth-child(8)::before {
    content: '20%';
}

.card:nth-child(9)::before {
    content: '30%';
}

.card:nth-child(10)::before {
    display: none;
}

.card:nth-child(11)::before {
    content: '10%';
}

.card:nth-child(12)::before {
    display: none;
}

.more {
    display: block;
    margin: 0 auto;
    font-size: 30px;
    color: #323232;
    padding-bottom: 60px;
    width: max-content;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0 30px;
}

.news-cards {
    display: flex;
    gap: 24px;
}

.news-card {
    max-width: 636px;
    width: 100%;
    padding: 110px 110px 60px 60px;
    color: #FFFFFF;
    background: url(../img/news-card-bg1.png);
    background-size: cover;
    background-position: center;
}

.date {
    display: flex;
    gap: 10px;
}


.news-card-title {
    font-family: MB;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 30px;
}

.news-card-txt {
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #E1E1E1;
    padding-bottom: 100px;
}

.news-card:nth-child(2) {
    background: url(../img/news-card-bg2.png);
}

.last-news {
    padding-bottom: 60px;
}

footer {
    background: #323232;
    padding: 100px 0 87px;
}

.footer-content {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.footer-content ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 100px;
}

.footer-content h4 {
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;

}

.main-list__link,
.products-list__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
}

.contacts h4 {
    padding-bottom: 80px;
}

.contacts p {
    font-size: 18px;
    line-height: 22px;
}

.contacts a {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.social-network h4{
    padding: 60px 0 40px 0;
}
.fit{
    display: flex;
    align-items: center;
    gap: 26px;
}
